
<h2> <%= @animal.name %> </h2>
<h3>Gender: <%= @animal.gender %> </h3>
<h3>Type: <%= @animal.type %> </h3>
<h3>Breed: <%= @animal.breed %> </h3>
<h3>Date Added: <%= @animal.added %> </h3>
<h4>Owner: <%= @animal.owner %> </h4>
<a href="/add_animal"> <button type="button" name="button">Back to list</button> </a>
